{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="card py-3 m-1 col-6" style="width: 35rem;">

    <h1 class="text-center">Profil</h1>

<div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-lg btn-info" href="{{ path('app_profile_edit') }}">Modifier</a>
</div>
</div>
 
{% endblock %}
