{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>
    <div class=" mb-5 pb-5">
    {{ include('admin_article/_form.html.twig', {'button_label': 'Confirmer les modifications'}) }}

    <a href="{{ path('app_admin_article_index') }}">retour à la liste des articles</a>

    {{ include('admin_article/_delete_form.html.twig') }}
    </div>
{% endblock %}
