{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1> Bienvenue sur Saint Seiya Infinite ! </h1>
<p>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. At nam corporis modi explicabo doloribus ullam qui commodi? Consequuntur dolorum quaerat atque natus sed! Voluptatem dolorem veritatis, quia qui officiis sapiente.
</p>
{% endblock %}
