{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>{{ produit.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Content</th>
                <td>{{ produit.content }}</td>
            </tr>
        </tbody>
    </table>


    

{% endblock %}
