{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ produit.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ produit.content }}</td>
            </tr>
        </tbody>
    </table>


    

{% endblock %}
