{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}

<div class="row d-flex justify-content-center text-center">

    
    <div class="card py-3 m-1 col-6" style="width: 35rem;">
    <h1>Créer un nouveau produit</h1>
    <div class=" card-body">
    {{ include('admin_produit/_form.html.twig') }}

    <a href="{{ path('app_admin_produit_index') }}">retour à la liste des produits</a>
    </div>
    </div>
    </div>
{% endblock %}
