{% extends 'base.html.twig' %}

{% block title %}CategorieProduit index{% endblock %}

{% block body %}
    <h1>Les Categorie de Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la catégorie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_produit in categorie_produits %}
            <tr>
                <td>{{ categorie_produit.name }}</td>
                <td>
                    <a href="{{ path('app_categorie_produit_show', {'id': categorie_produit.id}) }}">consulter la liste des produits</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">aucune catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
