<footer class="fixed-bottom bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    
        <div class="collapse navbar-collapse nav flex-column" id="navbarSupportedContent">
            <p class="text-white-50 mt-3">©Saint Seiya Infinite - tous droits réservés</p>
            <ul class="navbar-nav mb-2 ">
                <li class="nav-item"><a class="nav-link" href="{{ path('app_home') }}">Accueil</a></li>
                <li class="text-white-50">_</li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_contact') }}">Contact</a> </li>
                <li class="text-white-50">_</li>
                <li class="nav-item"><a class="nav-link" href="">Mentions légales</a>
                </li>
                <li class="text-white-50">_</li>
                <li class="nav-item"><a class="nav-link" href="">Politique de Confidentialité</a></li>
                <li class="text-white-50">_</li>
                <li class="nav-item"><a class="nav-link" href="">Politique de cookies (EU)</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>