{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="card py-3 m-1 col-6" style="width: 70rem;">

    <h1 class="text-center">Mentions légales</h1>

    <div class="highlight text-justify" >
<h2>Identité</h2>
<p>Nom du site web : &lt; titre du site &gt;<br>
Adresse du site : &lt; adresse du site : https://www.nomdusite.domaine &gt;</p>
<p>Propriétaire : &lt; nom du propriétaire &gt;<br>
Responsable de publication : &lt; nom du responsable – email de contact &gt;</p>
<p>Hébergement : &lt; nom de l’hébergeur &gt; – &lt; adresse postale &gt;</p>
<h3>Personne morale <em>(retirer ce bloc au besoin)</em></h3>
<p>&lt; Raison sociale &gt; – &lt; Forme juridique &gt; –  au capital de &lt; montant du capital &gt; euros – RCS &lt; numéro de RCS &gt; – TVA &lt; n° de TVA intracommunautaire &gt;<br>
&lt; téléphone &gt; – &lt; email &gt; – &lt; adresse postale &gt;</p>
<h3>Entrepreneur individuel  <em>(retirer ce bloc au besoin)</em></h3>
<p>EI &lt; Nom et prénom &gt; – RCS &lt; numéro de RCS &gt; – TVA &lt; n° de TVA intracommunautaire &gt;<br>
&lt; téléphone &gt; – &lt; email &gt; – &lt; adresse postale &gt;</p>
<hr>
<h2>Conditions d’utilisation</h2>
<p>L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.</p>
<h3>Informations</h3>
<p>Les informations et documents du site sont présentés à titre indicatif, sans de caractère exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.</p>
<p>Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à l’accès au site.</p>
<h3>Interactivité</h3>
<p>Les utilisateurs du site peuvent y déposer du contenu, apparaissant sur le site dans des espaces dédiés (notamment via les commentaires). Le contenu déposé reste sous la responsabilité de leurs auteurs, qui en assument pleinement l’entière responsabilité juridique.</p>
<p>Le propriétaire du site se réserve néanmoins le droit de retirer sans préavis et sans justification tout contenu déposé par les utilisateurs qui ne satisferait pas à la charte déontologique du site ou à la législation en vigueur.</p>
<h3>Propriété intellectuelle</h3>
<p>Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes, sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne les droits de propriété intellectuelle ou les droits d’usage. <sup id="fnref-7013-1"><a href="#fn-7013-1" rel="footnote">1</a></sup></p>
<p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de l’auteur.<sup id="fnref-7013-2"><a href="#fn-7013-2" rel="footnote">2</a></sup><sup id="fnref-7013-3"><a href="#fn-7013-3" rel="footnote">3</a></sup></p>
<p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est considérée comme constitutive d’une contrefaçon et passible de poursuites. <sup id="fnref-7013-9"><a href="#fn-7013-9" rel="footnote">4</a></sup></p>
<p>Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.</p>
<h3>Liens</h3>
<p><strong>Liens sortants</strong><br>
Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu que leur pertinence.</p>
<p><strong>Liens entrants</strong><br>
Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter :</p>
<ul>
<li>tout risque de confusion entre le site citant et le propriétaire du site</li>
<li>ainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur.</li>
</ul>
<p>Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site source ne respecte pas les règles ainsi définies.</p>
<h3>Confidentialité</h3>
<p>Tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une preuve d’identité. <sup id="fnref-7013-5"><a href="#fn-7013-5" rel="footnote">5</a></sup><sup id="fnref-7013-7"><a href="#fn-7013-7" rel="footnote">6</a></sup><sup id="fnref-7013-8"><a href="#fn-7013-8" rel="footnote">7</a></sup><sup id="fnref-7013-6"><a href="#fn-7013-6" rel="footnote">8</a></sup></p>
<p>Le site ne recueille pas d’informations personnelles, et n’est pas assujetti à déclaration à la CNIL. <sup id="fnref-7013-4"><a href="#fn-7013-4" rel="footnote">9</a></sup> (Remplacé par les disposition de la  RGPD)</p>
<ul>
<li>Politique de confidentialité : se référer à la page Politique de Confidentialité</li>
<li>Politique de cookies : se référer à la page Politique des Cookies</li>
</ul>
<h3>Crédits</h3>
<p>&lt; crédits photo, icones, etc. &gt;</p>
<p><a href="https://www.webexpress.fr" data-wpel-link="internal">Mentions légales fournies par WebExpress – Version 2.2</a> – Utilisation libre sous <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/fr/" data-wpel-link="external" target="_new" rel="external noopener noreferrer" class="ext-link wpel-icon-right">Licence Creative Commons CC BY-NC-ND 3.0 FR / creativecommons.org<span class="wpel-icon wpel-image wpel-icon-4"></span></a>.</p>
</div>

<div class="card-body">
    

    
</div>
</div>
{% endblock %}