{% extends 'base.html.twig' %}

{% block title %}Politique de cookies{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="card py-3 m-1 col-6" style="width: 70rem;">

    <h1 class="text-center">Politique de cookies</h1>

    <div id="cmplz-document" class="cmplz-document cookie-statement cmplz-document-eu"><p><i>Cette politique de cookies a été mise à jour pour la dernière fois le 21/01/2022 et s’applique aux citoyens et aux résidents permanents légaux de l’Espace Économique Européen et de la Suisse.</i><br></p><h2>1. Introduction</h2><p>Notre site web, <a href="https://histoiresfantastiques.com">https://histoiresfantastiques.com</a> (ci-après&nbsp;: «&nbsp;le site web&nbsp;») utilise des cookies et autres technologies liées (par simplification, toutes ces technologies sont désignées par le terme «&nbsp;cookies&nbsp;»). Des cookies sont également placés par des tierces parties que nous avons engagées. Dans le document ci-dessous, nous vous informons de l’utilisation des cookies sur notre site web.</p><h2>2. Que sont les cookies&nbsp;?</h2><p>Un cookie est un petit fichier simple envoyé avec les pages de ce site web et stocké par votre navigateur sur le disque dur de votre ordinateur ou d’un autre appareil. Les informations qui y sont stockées peuvent être renvoyées à nos serveurs ou aux serveurs des tierces parties concernées lors d’une visite ultérieure.</p><h2>3. Que sont les scripts&nbsp;?</h2><p>Un script est un élément de code utilisé pour que notre site web fonctionne correctement et de manière interactive. Ce code est exécuté sur notre serveur ou sur votre appareil.</p><h2>4. Qu’est-ce qu’une balise invisible&nbsp;?</h2><p>Une balise invisible (ou balise web) est un petit morceau de texte ou d’image invisible sur un site web, utilisé pour suivre le trafic sur un site web. Pour ce faire, diverses données vous concernant sont stockées à l’aide de balises invisibles.</p><h2>5. Cookies</h2><p class="cmplz-subtitle">5.1 Cookies techniques ou fonctionnels</p><p>Certains cookies assurent le fonctionnement correct de certaines parties du site web et la prise en compte de vos préférences en tant qu’utilisateur. En plaçant des cookies fonctionnels, nous vous facilitons la visite de notre site web. Ainsi, vous n’avez pas besoin de saisir à plusieurs reprises les mêmes informations lors de la visite de notre site web et, par exemple, les éléments restent dans votre panier jusqu’à votre paiement. Nous pouvons placer ces cookies sans votre consentement.</p><p class="cmplz-subtitle">5.2 Cookies statistiques</p><p>Nous utilisons des cookies statistiques afin d’optimiser l’expérience des internautes sur notre site web. Avec ces cookies statistiques, nous obtenons des observations sur l’utilisation de notre site web.&nbsp;Nous demandons votre permission pour placer des cookies statistiques.</p><p class="cmplz-subtitle">5.3 Cookies de marketing/suivi</p><p>Les cookies de marketing/suivi sont des cookies ou toute autre forme de stockage local, utilisés pour créer des profils d’utilisateurs afin d’afficher de la publicité ou de suivre l’utilisateur sur ce site web ou sur plusieurs sites web dans des finalités marketing similaires.</p><p class="cmplz-subtitle">5.4 Réseaux sociaux</p><p>Sur notre site web, nous avons inclus du contenu provenant de Facebook, Twitter, WhatsApp, Instagram et Pinterest pour promouvoir des pages web (par exemple, « like », « pin ») ou les partager (par exemple, « tweet ») sur des réseaux sociaux comme Facebook, Twitter, WhatsApp, Instagram et Pinterest. Ce contenu est intégré grâce un code obtenu de Facebook, Twitter, WhatsApp, Instagram et Pinterest et place des cookies. Ce contenu peut stocker et traiter certaines informations à des fins de publicité personnalisée.</p><p>Veuillez lire la déclaration de confidentialité de ces réseaux sociaux (qui peut être modifiée régulièrement) afin de savoir ce qu’ils font de vos données (personnelles) traitées en utilisant ces cookies. Les données récupérées sont anonymisées autant que possible. Facebook, Twitter, WhatsApp, Instagram et Pinterest se trouvent aux États-Unis.</p><h2>6. Cookies placés</h2><div id="cmplz-cookies-overview"><details class="cmplz-dropdown cmplz-service-desc cmplz-dropdown-cookiepolicy ">
	<summary class="cmplz-service-header"><div>
		<h3>Divers</h3>
		<p>Finalité en attente d’enquête</p>
		<label for="cmplz_service_divers" class="cmplz_consent_per_service_label"><span class="screen-reader-text">Consent to service divers</span></label>
		<input type="checkbox" id="cmplz_service_divers" class="cmplz-accept-service cmplz-hidden" data-service="divers" data-category="functional"></div>
	</summary>
	<div class="cmplz-service-description">
		<h4>Utilisation</h4>
		<p></p>
	</div>
	<div class="cmplz-sharing-data">
		<h4>Partage de données</h4>
		<p>Le partage des données est en cours d’enquête</p>
	</div>
	<div class="cookies-per-purpose">
    <div class="purpose"><h4>Finalité en attente d’enquête</h4></div>
    <div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">explat-last-anon-id</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">explat-experiment–woocommerce_products_task_layout_card</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">tusSupport</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">wc_cart_hash_6c2041967f51e2e7a017a59f5064eb3d</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">explat-last-anon-id-retrieval-time</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">e_globals</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">elementor</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">WP_DATA_USER_1</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">explat-experiment–woocommerce_products_task_layout_stacked</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">storeApiNonce</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">_ga</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">_gid</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">wordpress_test_cookie</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">wp_lang</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">mailpoet_subscriber</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">tk_ai</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">wp-settings-1</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">wp-settings-time-1</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">mailpoet_page_view</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">_gat</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">jetpack_sso_original_request</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">jetpack_sso_nonce</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">wordpress_logged_in_bc1714b664a8995bc7e17413bf642ff6</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">wfwaf-authcookie-eda86e3bb63619babbca2bbe9cb0a133</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">wc_fragments_6c2041967f51e2e7a017a59f5064eb3d</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">_pk_id.1.3a4f</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">_pk_ref.1.3a4f</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">_pk_ses.1.3a4f</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">_pk_id_1_3a4f</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">_pk_ref_1_3a4f</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">_pk_ses_1_3a4f</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">tk_qs</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">cmplz_consented_services</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention">365 jours</div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">cmplz_marketing</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention">365 jours</div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">cmplz_policy_id</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention">365 jours</div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">cmplz_statistics</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention">365 jours</div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">cmplz_preferences</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention">365 jours</div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">cmplz_functional</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention">365 jours</div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">cmplz_banner-status</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention">365 jours</div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">_gat_gtag_UA_171690991_1</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">wp-autosave-block-editor-post-3922</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">wp-autosave-block-editor-post-2491</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">tk_or</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">tk_r3d</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">tk_lr</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">crisp-client/session/c5d42bf5-f615-4318-930c-e61c35e565c1</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">e_kit-elements-defaults</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">crisp-client/session/c5d42bf5-f615-4318-930c-e61c35e565c1:e</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">crisp-clientsessionc5d42bf5-f615-4318-930c-e61c35e565c1</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>
<div class="name-header">
	<h5>Nom</h5>
</div>
<div class="name">ff_news_session</div>
<div class="retention-header">
	<h5>Expiration</h5>
</div>
<div class="retention"></div>
<div class="function-header">
	<h5>Fonction</h5>
</div>
<div class="function"></div>

</div>
</details>
</div><h2>7. Consentement</h2><p>Lorsque vous visitez notre site web pour la première fois, nous vous montrerons une fenêtre contextuelle avec une explication sur les cookies. Dès que vous cliquez sur «&nbsp;Enregistrer les préférences&nbsp;» vous nous autorisez à utiliser les catégories de cookies et d’extensions que vous avez sélectionnés dans la fenêtre contextuelle, comme décrit dans la présente politique de cookies. Vous pouvez désactiver l’utilisation des cookies via votre navigateur, mais veuillez noter que notre site web pourrait ne plus fonctionner correctement.</p><p class="cmplz-subtitle">7.1 Gérez vos réglages de consentement</p><div id="cmplz-manage-consent-container-nojavascript" style="display: none;">Vous avez chargé la politique de cookies sans le support de javascript.&nbsp;Sur AMP, vous pouvez utiliser l’onglet de gestion du consentement en bas de la page.</div><div id="cmplz-manage-consent-container" name="cmplz-manage-consent-container" class="cmplz-manage-consent-container" style="display: block;"><!-- categories start -->
		<div class="cmplz-categories">
			<details class="cmplz-category cmplz-functional">
				<summary>
						<span class="cmplz-category-header">
							<span class="cmplz-category-title">Fonctionnel</span>
							<span class="cmplz-always-active">
								<span class="cmplz-banner-checkbox">
									<input type="checkbox" id="cmplz-functional-optin" data-category="cmplz_functional" class="cmplz-consent-checkbox cmplz-functional" size="40" value="1">
									<label class="cmplz-label" for="cmplz-functional-optin" tabindex="0"><span class="screen-reader-text">Fonctionnel</span></label>
								</span>
								Toujours activé							</span>
							<span class="cmplz-icon cmplz-open">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="18"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"></path></svg>
							</span>
						</span>
				</summary>
				<div class="cmplz-description">
					<span class="cmplz-description-functional">Le stockage ou l’accès technique est strictement nécessaire dans la finalité d’intérêt légitime de permettre l’utilisation d’un service spécifique explicitement demandé par l’abonné ou l’utilisateur, ou dans le seul but d’effectuer la transmission d’une communication sur un réseau de communications électroniques.</span>
				</div>
			</details>

			<details class="cmplz-category cmplz-preferences">
				<summary>
						<span class="cmplz-category-header">
							<span class="cmplz-category-title">Préférences</span>
							<span class="cmplz-banner-checkbox">
								<input type="checkbox" id="cmplz-preferences-optin" data-category="cmplz_preferences" class="cmplz-consent-checkbox cmplz-preferences" size="40" value="1">
								<label class="cmplz-label" for="cmplz-preferences-optin" tabindex="0"><span class="screen-reader-text">Préférences</span></label>
							</span>
							<span class="cmplz-icon cmplz-open">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="18"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"></path></svg>
							</span>
						</span>
				</summary>
				<div class="cmplz-description">
					<span class="cmplz-description-preferences">Le stockage ou l’accès technique est nécessaire dans la finalité d’intérêt légitime de stocker des préférences qui ne sont pas demandées par l’abonné ou l’utilisateur.</span>
				</div>
			</details>

			<details class="cmplz-category cmplz-statistics">
				<summary>
						<span class="cmplz-category-header">
							<span class="cmplz-category-title">Statistiques</span>
							<span class="cmplz-banner-checkbox">
								<input type="checkbox" id="cmplz-statistics-optin" data-category="cmplz_statistics" class="cmplz-consent-checkbox cmplz-statistics" size="40" value="1">
								<label class="cmplz-label" for="cmplz-statistics-optin" tabindex="0"><span class="screen-reader-text">Statistiques</span></label>
							</span>
							<span class="cmplz-icon cmplz-open">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="18"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"></path></svg>
							</span>
						</span>
				</summary>
				<div class="cmplz-description">
					<span class="cmplz-description-statistics">Le stockage ou l’accès technique qui est utilisé exclusivement à des fins statistiques.</span>
					<span class="cmplz-description-statistics-anonymous">Le stockage ou l’accès technique qui est utilisé exclusivement dans des finalités statistiques anonymes. En l’absence d’une assignation à comparaître, d’une conformité volontaire de la part de votre fournisseur d’accès à internet ou d’enregistrements supplémentaires provenant d’une tierce partie, les informations stockées ou extraites à cette seule fin ne peuvent généralement pas être utilisées pour vous identifier.</span>
				</div>
			</details>
			<details class="cmplz-category cmplz-marketing">
				<summary>
						<span class="cmplz-category-header">
							<span class="cmplz-category-title">Marketing</span>
							<span class="cmplz-banner-checkbox">
								<input type="checkbox" id="cmplz-marketing-optin" data-category="cmplz_marketing" class="cmplz-consent-checkbox cmplz-marketing" size="40" value="1">
								<label class="cmplz-label" for="cmplz-marketing-optin" tabindex="0"><span class="screen-reader-text">Marketing</span></label>
							</span>
							<span class="cmplz-icon cmplz-open">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="18"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"></path></svg>
							</span>
						</span>
				</summary>
				<div class="cmplz-description">
					<span class="cmplz-description-marketing">Le stockage ou l’accès technique est nécessaire pour créer des profils d’utilisateurs afin d’envoyer des publicités, ou pour suivre l’utilisateur sur un site web ou sur plusieurs sites web ayant des finalités marketing similaires.</span>
				</div>
			</details>
		</div><!-- categories end --></div><h2>8. Activer/désactiver et supprimer les cookies</h2><p>Vous pouvez utiliser votre navigateur internet pour supprimer automatiquement ou manuellement les cookies. Vous pouvez également spécifier que certains cookies ne peuvent pas être placés. Une autre option consiste à modifier les réglages de votre navigateur Internet afin que vous receviez un message à chaque fois qu’un cookie est placé. Pour plus d’informations sur ces options, reportez-vous aux instructions de la section Aide de votre navigateur.</p><p>Veuillez noter que notre site web peut ne pas marcher correctement si tous les cookies sont désactivés. Si vous supprimez les cookies dans votre navigateur, ils seront de nouveau placés après votre consentement lorsque vous revisiterez nos sites web.</p><h2>9. Vos droits concernant les données personnelles</h2><p>Vous avez les droits suivants concernant vos données personnelles&nbsp;:</p><ul>
                    <li>Vous avez le droit de savoir pourquoi vos données personnelles sont nécessaires, ce qui leur arrivera et combien de temps elles seront conservées.</li>
                    <li>Droit d’accès&nbsp;: vous avez le droit d’accéder à vos données personnelles que nous connaissons.</li>
                    <li>Droit de rectification&nbsp;: vous avez le droit à tout moment de compléter, corriger, faire supprimer ou bloquer vos données personnelles.</li>
                    <li>Si vous nous donnez votre consentement pour le traitement de vos données, vous avez le droit de révoquer ce consentement et de faire supprimer vos données personnelles.</li>
                    <li>Droit de transférer vos données&nbsp;: vous avez le droit de demander toutes vos données personnelles au responsable du traitement et de les transférer dans leur intégralité à un autre responsable du traitement.</li>
                    <li>Droit d’opposition&nbsp;: vous pouvez vous opposer au traitement de vos données. Nous obtempérerons, à moins que certaines raisons ne justifient ce traitement.</li>
                </ul><p>Pour exercer ces droits, veuillez nous contacter. Veuillez vous référer aux coordonnées au bas de cette politique de cookies. Si vous avez une plainte concernant la façon dont nous traitons vos données, nous aimerions en être informés, mais vous avez également le droit de déposer une plainte auprès de l’autorité de contrôle (l’autorité chargée de la protection des données, comme le CEPD).</p><h2>10. Coordonnées</h2><p>Pour des questions et/ou des commentaires sur notre politique de cookies et cette déclaration, veuillez nous contacter en utilisant les coordonnées suivantes&nbsp;:</p><p><span class="cmplz-contact-organisation">Rémy Houry</span><br>
                      <span class="cmplz-contact-address">30 rue gabriel péri bat E 78114 magny les hameaux </span><br>
                      <span class="cmplz-contact-country">France</span><br>
                    Site web&nbsp;: <span class="cmplz-contact-domain"><a href="https://histoiresfantastiques.com">https://histoiresfantastiques.com</a></span><br>
                    E-mail&nbsp;: <span class="cmplz-contact-email"><span class="cmplz-obfuscate">rf.kooltuo@32myer</span></span><br>
                    <span class="cmplz-contact-telephone"></span></p><p>Cette politique de cookies a été synchronisée avec <a href="https://cookiedatabase.org/" target="_blank">cookiedatabase.org</a> le 28/12/2021.</p></div>
<div class="card-body">
    

    
</div>
</div>
{% endblock %}